/* -----------------------image-template------------- */
.image-template {
  width: 130px;
  height: 130px;
  background: #fff;
  border-radius: 15px;
  /* overflow: scroll; */
  margin: 16px 5px 10px 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-map-container {
  overflow: auto;
  height: 500px;
  width: auto;
  padding: 0px 12px 0px 15px;
}
/* width */
.image-map-container::-webkit-scrollbar {
  width: 3px;
}
